@font-face {
    font-family: 'Spinstee';
    src: url('https://raw.githubusercontent.com/jett37/silly/blob/main/assets/fonts/spinstee-xx4a-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/jett37/silly/blob/main/assets/fonts/spinstee-xx4a-webfont.woff') format('woff'),
         url('https://raw.githubusercontent.com/jett37/silly/blob/main/assets/fonts/spinstee-xx4a-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
